<div class="login">
  <div class="login-container">
    <div class="login-box">
      <figure>
        <img src="assets/img/logo-srm-white.png" alt="Logo Management Panel">
      </figure>
    </div>

    <div class="login-box">
      <form formGroup="userCredentialsForm">

        <!-- TODO: translate -->
        <h2 class="wdt100 txt-center">Login</h2>

        <div class="wdt100 pdt1rem">
          <label for="login-input-email" class="input-float-label">
            <input type="email" id="login-input-email" placeholder="&nbsp;" formControlName="email" required autocomplete="off" />
            <span class="input-float">{{ 'page-login-email' | translate }}</span>
          </label>
        </div>

        <div class="wdt100 pdt1rem">
          <label for="login-input-password" class="input-float-label">
            <input type="password" id="login-input-password" placeholder="&nbsp;" formControlName="password" required />
            <span class="input-float">{{ 'page-login-password' | translate }}</span>
          </label>
        </div>

        <!-- TODO: signup -->
        <!-- TODO: load spinner -->
        <div class="wdt100 pdt1rem">
          <button class="login-button" (click)="signIn()" id="login-button-save" [ngClass]="loading ? 'disable' : ''" >
            <!-- TODO: translate -->
            <span *ngIf="!loading">Entrar</span>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
