
<mat-sidenav-container *ngIf="userAuthenticated && !homeRoute">
  <mat-sidenav #sidenav [mode]="'side'" class="side-nav-menu">
    <app-nav-left-menu></app-nav-left-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-nav-top-menu>
      <div class="menu-icon" (click)="sidenav.toggle()"><i class="fas fa-bars"></i></div>
    </app-nav-top-menu>
    <div class="app-breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="app-main">
      <router-outlet *ngIf="userAuthenticated"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="userAuthenticated && homeRoute"></router-outlet>


<app-login *ngIf="!userAuthenticated"></app-login>
