@import 'src/assets/sass/colors.scss';
@import 'src/assets/sass/variables.scss';

.menu-icon {
  padding: $low-padding;
  cursor: pointer;
}

.app-breadcrumb {
  background-color: $light-grey;
  padding: 2rem;
  padding-bottom: 0px;
}

.app-main {
  background-color: $light-grey;
  padding: 2rem;
  padding-bottom: 0px;
  min-height: 50vh;
}
