@import 'src/assets/sass/colors.scss';

.box-link-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .box-link {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $dark-blue;
    border-radius: 6px;
    background-color: $dark-blue;
    color: $white;
    cursor: pointer;

    .box-link-a {
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;

      &:hover {
        color: $dark-blue;
      }
    }

    &:hover {
      background-color: $white;
      color: $dark-blue;
    }
  }
}
