/* STRUCTURE */
/* ------------------------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
}
/* width */
.wdt100 { width: 100%; }

/* padding */
.pdt1rem { padding-top: 1rem; }

/* TAG STYLE */
/* ------------------------------------------------------------------------------------------- */
a {
  text-decoration: none;
}
